<h1>Listing links</h1>


  <div class='container'>

    <% @links.each do |link| %>
      <h2><%= link_to link.title, link.url %>
      <h4><%= link.comment %></h4>
        <%= link.url %>
       <%= link.time_created %>
       <br>Deadline:<%= link.expiration_date %>
        <br><small>total historical votes: <%= link.hx_votes %></small>
       <br><%= link_to 'Show', link %>
        <%= link_to 'Edit', edit_link_path(link) %>
        <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  


